section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        .grid-layout(3, 1%);

        .product-item {
            img {
                width: 100%;
                border-radius: @border-radius * 2;
            }

            .product-button {
                display: block;
                background-color: @secondary-color;
                color: @text-color;
                text-align: center;
                padding: 8px 0;
                border-radius: @border-radius;
                margin-top: 8px;
                text-decoration: none;

                &:hover {
                    background-color: @hover-color;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .products {
        .grid-layout(2, 3%);
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;

        .product-item {
            margin-bottom: 32px;
        }
    }
}